.flex            { display: flex; }
.justify-center  { justify-content: center; }
.align-center    { align-items: center; }
.bg-black        { background-color: #0a0b14; color: white; }
.bg-grey         { background-color: #121212; }
.invert          { filter: invert(1); }
.rounded         { border-radius: 8px; }
.m-1             { margin: 5px; }
.p-1             { padding: 10px; }